<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" APPLICATION_ENV="test">
    
    <php>
        <env name="APPLICATION_ENV" value="test"/>
    </php>

    <testsuites>
        <testsuite name="NeighborhoodTest">
            <directory>./ApplicationTest</directory>
        </testsuite>
    </testsuites>
</phpunit>