html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    text-transform: uppercase;
}

.credit {
    text-align: center;
    font-size: .9em;
    padding: 3px 0;
    background: white;
    width: 100%;
}

.summary p {
    font-size: 16px;
}

div.container.header {
    width: 100%;
}

.navbar-inner {
     background-color: #000;
}

.morepadding {
    padding: 20px;
}

.centertext {
    text-align: center;
}

.nomargin {
    margin: 0;
}

.input-margin {
    margin: 5px 0;
}

.niceborder {
    border: 2px solid #ccc;
}

.automargin {
    margin: 0 auto;
}

.main-container {
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 600px;
}

.brand-header {
    padding-bottom: 10px;
}

.brand-header h1 {
    font-size: 4em;
    font-style: italic;
}

.brand-header .subtitle {
    color: #8a0505
}

.tri-content {
    padding: 0 40px;
}

.tri-content h3 {
    margin-bottom: 10px;
}

.tri-content p {
    margin: 0;
}

.tri-content-content {
    
}

.tri-content-footer {
    background: #6b0000;
    color: #fffefe;
    z-index: 100;
}

.tri-content-footer a {
    color: white;
    padding: 10px 5px;
    font-size: 1.1em;
}

.map {
    position: absolute;
    top: 51px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.user_polygon_page_map {
    top: 200px;
}

.map_add {
    top: 300px;
}

.user_polygon_pagination {
    margin: 0;
}


/* Landscape phones and down */
@media (max-width: 480px) { 
    #map {
        position: relative;
        height: 400px;
    } 

    footer {
        position: relative;
    }
}

.header {
    background: white;
}

#region-links {
    color: #192b70;
    font-size: 24px;
}

.search_results h4 {
    text-align: center;
    margin-bottom: 30px;
}

.search_results h4 span.query {
    font-style: italic;
}

.search_results h3 {
    
}

.search_results div.neighborhood {
    padding-top: 10px;
    padding-left: 10px;
}

form#addressLookupForm legend {
    text-align: center;
}

div#vote_section {
    text-align: center;
    margin: 15 0;
}

#no-match-neighborhood {
    color: red;
    text-align: center;
    font-weight: bold;
    vertical-align: center
}

#disqus_thread {
    padding-top: 40px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,.95);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    opacity: 100;
}

.create_event {
    padding: 20px 0;
}
